body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9d4d4;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-family: "Arial", sans-serif;
  color: #413f3f;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 5px solid;
  border-radius: 50px;
  background-color: #fff;
}

#display {
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  text-shadow: 2px 2px 2px #616060;
  margin-bottom: 25px;
  width: 650px;
}

#control button {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.2s ease;
}

#startBtn {
  background-color: #039160;
}

#startBtn:hover {
  background-color: #03be7c;
}

#stopBtn {
  background-color: #912203;
}

#stopBtn:hover {
  background-color: #be2d04;
}

#resetBtn {
  background-color: #034191;
}

#resetBtn:hover {
  background-color: #0a6ae8;
}
